﻿@using Microsoft.AspNet.Identity

@helper GetButtonVisibility(string controller, string action = null)
{
    if ((string)ViewContext.RouteData.Values["controller"] == controller &&
        (action == null || (string)ViewContext.RouteData.Values["action"] == action))
    {
        <text>hidden</text>
    }
    else
    {
        <text>visible</text>
    }
}

@Html.AntiForgeryToken()

<div class="navbar-right">
    @if (Request.IsAuthenticated)
    {
        <h5 class="navbar-text" style="margin-top: 20px">
            Hello @User.Identity.GetUserName()!
        </h5>
        <a href="@Url.Action("Add", "Entries" )" style="visibility: @GetButtonVisibility("Entries", "Add" )"
           class="btn btn-primary navbar-btn">
            <span class="glyphicon glyphicon-plus"></span> Add Entry
        </a>
        using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { @class = "navbar-right" }))
        {
            <button type="submit" class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-log-out"></span> Sign Out
            </button>
        }
    }
    else
    {
        <a href="@Url.Action("Register", "Account" )"
           style="visibility: @GetButtonVisibility("Account")"
           class="btn btn-success navbar-btn">
            <span class="glyphicon glyphicon-plus"></span> Register
        </a>
        <a href="@Url.Action("SignIn", "Account" )"
           style="visibility: @GetButtonVisibility("Account")"
           class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-log-in"></span> Sign In
        </a>
    }
</div>